
        body{background-color: rgba(15, 109, 126, 0.205);}
        hr{
            
        
          width: 4%;
          height: 0;
          border: 5px dotted rgba(139, 139, 139, 0.438);
          border-bottom: none;
          border-left: none;
          border-right: none;  
        }
        h1{color: rgba(41, 53, 223, 0.452);}
        h3{color: rgb(14, 113, 206);}
    