
        body{background-color: rgba(12, 80, 52, 0.486);}
        hr{
            
        
          width: 4%;
          height: 0;
          border: 5px dotted rgba(139, 139, 139, 0.438);
          border-bottom: none;
          border-left: none;
          border-right: none;  
        }
        h1{color: rgba(0, 0, 0, 0.623);}
        h3{color: rgb(51, 56, 61);}
    
